[submodule "3rdparty/half"]
	path = 3rdparty/LLM_kernels/3rdparty/half
	url = https://github.com/whitelok/half.git
[submodule "3rdparty/c3x/cutlass"]
	path = 3rdparty/LLM_kernels/3rdparty/c3x/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/c4x/cutlass"]
	path = 3rdparty/LLM_kernels/3rdparty/c4x/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/LLM_kernels/3rdparty/FlashMLA"]
	path = 3rdparty/LLM_kernels/3rdparty/FlashMLA
	url = https://github.com/deepseek-ai/FlashMLA.git
