transformers==4.51.3
sentencepiece==0.2.0
uvicorn[standard]==0.29.0
fastapi==0.110.0
rouge_score==0.1.2
aiohttp==3.9.5
msgpack>=1.0.8
orjson>=3.10.7
uvloop>=0.20.0
grpcio==1.67.1
tritonclient[grpc]==2.41.0
blake3==1.0.5
cachetools==6.0.0
Jinja2==3.1.6
openai==1.93.3
partial_json_parser==0.2.1.1.post6
sqlalchemy==2.0.44